{{ attach_library('hero_banner/global') }}

<div class="hero-area">

  <!-- Backgound Image -->
  <div class="bg-image bg-parallax overlay" style="background-image:url({{imagen}})"></div>
  <!-- /Backgound Image -->

  <div class="home-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1 class="white-text">{{titulo}}</h1>
          <p class="lead white-text">{{texto}}</p>
          <a class="btn btn-primary icon-arrow" href="{{link}}">{{texto_link}}</a>
        </div>
      </div>
    </div>
  </div>

</div>
