{{ attach_library('hero_banner/global') }}

<div class="hero-area">

  <!-- Backgound Image -->
  <div class="bg-image bg-parallax overlay" style="background-image:url({{imagen}})"></div>
  <!-- /Backgound Image -->

  <div class="home-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-7 text-bg">
          <div class="intro">{{intro|raw}}</div>
          <h1 class="white-text">{{titulo|raw}}</h1>
          <div class="lead">{{texto|raw}}</div>
          <a class="btn btn-primary icon-arrow" href="{{link}}">{{texto_link}}</a>
        </div>
      </div>
    </div>
  </div>

</div>
