{{ attach_library('hero_banner/youtube') }}

<div class="video-area">
  <div class="video-background">
    <div class="video-foreground">
      <iframe src="{{url_video}}?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=Vu9RsiVwVjQ" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <div id="vidtop-content" class="content">
    <div class="vid-info">
      <h1 class="display-4">{{titulo}}</h1>
      <p class="lead">{{texto}}</p>
      <a class="btn btn-primary icon-arrow" href="{{link}}">{{texto_link}}</a>
    </div>
  </div>
</div>
